.container
  .row
    .col-sm-12
      %h1 Create menus item
      -#%form{:action => "/menu_items", :method => "POST"}
      -#  %input{:type => "text", :name => "name"}
      -#  %input{:type => "submit"}
      = simple_form_for(@item, html: { class: 'form-vertical' }) do |f|
        .inputs
          = f.input :name
          = f.input :price
          = f.input :weight
          = f.association :category, as: :select, prompt: "Choose category"
        .actions
          = f.button :submit